*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comingSoon{
  height: 100%;
}

.container{
  width: 80%;
  margin: auto;
}

@media (max-width: 768px){
  .container{
  width: 90%;
  margin: auto;
}

}